---

- name: install kpartx
  become: yes
  yum:
    name: kpartx

- name: create mountpoints
  become: yes
  file:
    state: directory
    path: "{{ item.value.path }}"
  with_dict: "{{ img_parts }}"

- name: map partitions from {{ img }}
  become: yes
  command: "kpartx -a /vagrant/{{ img }}"
  args:
    creates: "{{ img_parts.boot.dev }}"

- name: mount partitions
  become: yes
  mount:
    path: "{{ item.value.path }}"
    opts: loop
    src: "{{ item.value.dev }}"
    fstype: "{{ item.value.type }}"
    state: mounted
  with_dict: "{{ img_parts }}"
