---

- name: get {{ zip_url }}
  get_url:
    url: "{{ zip_url }}"
    dest: "{{ zip_dest }}"

- name: install 'unzip'
  become: yes
  yum:
    name: unzip

- name: extract {{ zip_dest }}
  unarchive:
    remote_src: yes
    src: "{{ zip_dest }}"
    dest: "{{ img_dir }}"
    creates: "{{ img }}"
