---

- name: enable ssh at boot
  become: yes
  file:
    state: touch
    path: "{{ img_parts.boot.path }}/ssh"

- name: enable wifi DHCP
  become: yes
  lineinfile:
    path: "{{ img_parts.root.path }}/etc/network/interfaces"
    regexp: '^iface {{ item }} inet '
    line: 'iface {{ item }} inet dhcp'
  with_items:
    - wlan0
    - wlan1

- name: set wifi PSK and SSID
  become: yes
  template:
    src: etc/wpa_supplicant/wpa_supplicant.conf.j2
    dest: "{{ img_parts.root.path }}/etc/wpa_supplicant/wpa_supplicant.conf"
    mode: 0600
    owner: root
    group: root
